.about {
    display: grid;
    align-items: center;
    gap: 3vh;
    width: 45vw;
    font-size: 17px;

    /* centered property and animation */
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.5s ease-out;
}

.about.visible {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.about-line {
    color: white;
    font: helvetica, sans-serif;
}

@media (min-width: 768px) {
    .about {
        width: 50vw;
        font-size: 22px;
    }
}

@media (min-width: 1024px) {
    .about {
        width: 38vw;
        font-size: 25px;
    }
}

.indoxi-link {
    color: gray;
    background-color: none;
    text-decoration: none;
    transition: color 0.6s ease-in-out, background-color 0.75s ease-in-out;
}

.indoxi-link:hover {
    color: black;
    background-color: white;
    transition: color 0.75s ease-in-out, background-color 0.75s ease-in-out;
}

.pw-link {
    color: gray;
    text-decoration: none;
    transition: color 0.6s ease-in-out;
}

.pw-link:hover {
    color: white;
    transition: color 0.75s ease-in-out;
}

.mail-link {
    color:gray;
    transition: color 0.6s ease-in-out;
}

.mail-link:hover {
    color: rgb(70,70,70);
    transition: color 0.75s ease-in-out;
}